/* Pantalla completa*/
html, body {
    min-height: 100vh; 
    margin: 5px 0;
}
.container-fluid {
    height: 100vh;
    display: flex;
    gap: 15px; 
}

/* Navbar vertical */
.navbar-vertical{
    background-color: #f0f0f0;
    padding: 15px; 
    width: 15%; 
    display: flex;
    justify-content: center;
    border-radius: 8px;
}
img {
    border-radius: 8px;
    width: 130px;       
    height: 130px;
    margin-bottom: 30px;
}
.nav-item {
    display: flex;       
    align-items: center; 
    gap: 10px;            
}

/* Contenedores horizontales */
.columna-principal {
    width: 85%; 
    display: flex;
    flex-direction: column;
    gap: 15px; 
}
/* Barra de navegacion horizontal*/
.navbar-horizontal {
    background-color: #f0f0f0;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px; 
    border-radius: 8px;
}
.butn {
    display: flex; 
    align-items: center; 
    gap: 8px; 
}
.usuario {
    margin: 0; 
    font-size: 16px; 
}
nav {
    margin-bottom: 15px; 
}

 /* contenido principal*/
.main-container {
    background-color: #f0f0f0;
    padding: 20px;
    flex: 11;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}