<div class="col-lg-10 py-3 d-flex flex-column gap-3">
    <header class="bg-grey d-flex justify-content-between px-4 py-4 rounded-5">
        <form class="d-flex" role="search">
            <input class="form-control me-2 rounded-pill" type="search" placeholder="Buscar" aria-label="Search"
                style="background-image:url('/images/search.svg');
                background-repeat:no-repeat;
                background-position: 1rem center; 
                padding-left: 3rem; font-size: 1rem;">
            <button class="btn rounded-pill ivd-bg-red text-white d-flex align-items-center justify-content-center" type="submit">Buscar</button>
        </form>
        <div class="d-flex align-items-center justify-content-between mx-4">
            <div class="dropdown me-5">
                <button class="btn border dropdown-toggle rounded-pill ivd-border-red" type="button" data-bs-toggle="dropdown">
                    Enero - Junio 2025
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Enero - Junio 2025</a></li>
                  <li><a class="dropdown-item" href="#">Agosto - Diciembre 2024</a></li>
                  <li><a class="dropdown-item" href="#">Enero - Junio 2024</a></li>
                </ul>
            </div>
            <div class="d-flex flex-column align-items-center header-user-info">
                <strong class="text-center">Alejandra Regina López Garza</strong>
                <span class="text-center">301547@ivd.mx</span>
            </div>
        </div>
    </header>