  <!-- Parte horizontal -->
  <div class="columna-principal">

    <!-- Navbar horizontal -->
    <div class="navbar-horizontal">

        <!-- Barra de búsqueda a la izquierda -->
        <form class="d-flex" role="search">
            <div class="input-group">
                <button class="btn btn-outline-secondary" type="submit">
                    <i class="bi bi-search"></i>
                </button>
                <input type="search" class="form-control" placeholder="Buscar" aria-label="Search">
            </div>
        </form>
        
         <!-- Botones y usuario a la derecha -->
         <div class="butn">
            <p class="usuario">Dongju Mun</p>
        </div>
    </div>