/*Barra superior*/
.top{
    width: 180vh;
    height: 40px;
    margin-left: 10px; 
    margin-right: 10px; 
    margin-top: 10px;
    background-color: #eeecec;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Barra de busqueda*/
.form-control {
    width: 150px; 
    height: 30px;
    font-size: 12px; 
}

/*Botones*/
.btn-light{
    height: 30px;
}

/*Nombre alumno*/
.btn-span {
    font-size: 12px; 
}

/* Barra de navegación vertical*/
.navbar-vertical {
    width: 150px;
    height: 98vh;
    margin-left: 10px; 
    margin-right: 10px; 
    margin-top: 10px; 
    margin-bottom: 10px; 
    background-color: #eeecec;
    padding: 20px;
    border-radius: 20px;
}

/* Logo Vida Diseño */
.navbar-vertical img {
    width: 100%;
    max-height: 100px;
    object-fit: contain;
    border-radius: 8px;
}

/* Títulos del menú */
.navbar-vertical h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 30px 0;
}

.navbar-vertical h3 {
    font-size: 16px;
    font-weight: normal;
    margin: 10px 0;
}

/* Estilos para el contenedor principal */
.mainContainer {
    width: 180vh;
    height: 89vh;
    margin-left: 10px; 
    margin-right: 10px; 
    margin-top: 10px; 
    margin-bottom: 10px; 
    background-color: #eeecec !important; 
    padding: 20px;
    border-radius: 10px; }



