/* Todo el contenido */
.container-fluid {
    padding-left: 1px; 
    padding-right: 45px;
    margin: 5px !important;
}

.row {
    height: 100vh; 
    display: flex;
    flex-wrap: nowrap; 
}

 /* Navbar lateral */
.sidebar {
    background-color: #f0f0f0; 
    padding: 20px; 
    margin: 15px; 
    border-radius: 8px;
}

img {
    border-radius: 8px;
    width: 130px;       
    height: 130px;
    margin-bottom: 30px;
}

.nav-item {
    display: flex;       
    align-items: center; 
    gap: 8px;            
}

/* Nav bar de arriba */
.navbar.bg-body-tertiary {
    background-color: #f2f2f2 !important;
    border-radius: 8px !important;
    padding: 5px 15px;
 }

.butn {
    display: flex; 
    align-items: center; 
    gap: 8px; 
}

.usuario {
    margin: 0; 
    font-size: 16px; 
}
nav {
    margin-bottom: 15px; 
}

 /* contenido principal*/
main {
    flex-grow: 1; 
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
}
