<%- include('includes/_nav_coordinador.ejs') %>
<%- include('includes/_header_coordinador.ejs') %>
<main class="bg-grey flex-grow-1 rounded-5 p-0 d-flex flex-column materia-scroll" style="height: 100vh; border-radius: 1.5rem;">
  <div class="p-4">
    <div style="width: 80%; margin: 0 auto;">
      <div class="rounded-5 flex-grow-1 px-5 py-4" style="background-color: white;">
        <div class="d-flex align-items-end" style="border-bottom: 3px solid #84251C; width: 100%; margin-top: -10px;">
          <h1 class="m-0 ms-3">Ayuda</h1>
        </div>
        <h4 class="ms-3 mt-4 ivd-text-red">Manual de Ayuda para Coordinador</h4>
        <ol>
          <li class="ms-3 mt-4">
            Accede al inicio de sesión con el link: 
            <a href="https://ivd-inscripciones-leonille-97f95df993b3.herokuapp.com/usuario/iniciar-sesion" target="_blank">
              https://ivd-inscripciones-leonille-97f95df993b3.herokuapp.com/usuario/iniciar-sesion
            </a>
            <img src="/images/img1.png" class="mt-4" style="max-width: 100%; height: auto;">
          </li>
          <li class="ms-3 mt-4">
            Ingresa tu contraseña y matrícula en caso de tener una.  
            <br>
            <img src="/images/img2.png" class="mt-4" style="max-width: 100%; height: auto;">
          </li>
          <li class="ms-3 mt-4">
            Al acceder, se mostrará el dashboard del coordinador, donde podrá ver el número de materias abiertas, grupos, 
            alumnos inscritos, no inscritos y profesores. También podrá consultar los detalles de los grupos, salones y solicitudes.
            Finalmente, en la parte inferior, se comparan los alumnos inscritos y no inscritos, agrupados por semestre.
            <img src="/images/imgc1.png" class="mt-4" style="max-width: 100%; height: auto;">
          </li>
          <li class="ms-3 mt-4">
            Para sincronizar los datos entre ciclos escolares: Localiza el botón "Sincronizar Ciclos Escolares". 
            Una vez activado el sistema mostrará un mensaje mencionando la sincronización.
            <img src="/images/imgc2.png" class="mt-4" style="max-width: 100%; height: auto;">
          </li>
          <li class="ms-3 mt-4">
            Para sincronizar los datos de los planes de estudio: Localiza el botón "Sincronizar Planes de estudio". 
            Una vez activado el sistema mostrará un mensaje mencionando la sincronización.
            <img src="/images/imgc3.png" class="mt-4" style="max-width: 100%; height: auto;">
          </li>
          <li class="ms-3 mt-4">
            En la parte de la izquierda se puede apreciar un Menú, dándole click a la opción de “Materias”. 
            Nos mostrará las materias abiertas en donde son agrupadas por semestres.
            <img src="/images/imgc4.png" class="mt-4" style="max-width: 100%; height: auto;">
            <ol type="a" class="mt-3">
              <li class="ms-3 mt-4">Para sincronizar las materias abiertas: Localiza el botón "Sincronizar Materias". Una vez presionado el sistema mostrará un mensaje mencionando la sincronización. </li>
              <img src="/images/imgc5.png" class="mt-4" style="max-width: 100%; height: auto;">
              <li class="ms-3 mt-4">Para poder eliminar una materia abierta localiza el botón “x” de la materia correspondiente. Una vez presionado se mostrará un mensaje con los detalles de la materia seleccionada. Para poder eliminarla presiona el botón de eliminar. </li>
              <img src="/images/imgc6.png" class="mt-4" style="max-width: 100%; height: auto;">
              <li class="ms-3 mt-4">Para abrir una materia, localiza el botón “Abrir Materia” en el semestre seleccionado. Luego, se mostrarán las materias disponibles, y podrás agregar cualquiera de ellas a la lista de materias seleccionadas. </li>
              <img src="/images/imgc7.png" class="mt-4" style="max-width: 100%; height: auto;">
            </ol>
          </li>
          <li class="ms-3 mt-4">
            En la parte de la izquierda se puede apreciar un Menú, dándole click a la opción de “Alumnos”. Nos mostrará las alumnos en donde son agrupadas por regularidad.
            <img src="/images/imgc8.png" class="mt-4" style="max-width: 100%; height: auto;">
            <ol type="a" class="mt-3">
              <li class="ms-3 mt-4">Para sincronizar los alumnos: Localiza el botón "Sincronizar Alumnos". Una vez presionado el sistema mostrará un mensaje mencionando
                 la sincronización. </li>
              <img src="/images/imgc9.png" class="mt-4" style="max-width: 100%; height: auto;">
              <li class="ms-3 mt-4">Para observar los detalles de horario de un alumno seleccione el botón del ojo.  </li>
              <img src="/images/imgc10.png" class="mt-4" style="max-width: 100%; height: auto;">
              <li class="ms-3 mt-4">Para cambiar el estatus del alumno a irregular seleccione el botón del lápiz. </li>
              <img src="/images/imgc11.png" class="mt-4" style="max-width: 100%; height: auto;">
            </ol>
          </li>
          <li class="ms-3 mt-4">
            En la parte de la izquierda se puede apreciar un Menú, dándole click a la opción de “Profesores”. Nos mostrará a los profesores. 
            <img src="/images/imgc12.png" class="mt-4" style="max-width: 100%; height: auto;">
            <ol type="a" class="mt-3">
              <li class="ms-3 mt-4">Para sincronizar a los profesores: Localiza el botón "Sincronizar profesores". Una vez presionado el
                sistema mostrará un mensaje mencionando la sincronización. </li>
              <img src="/images/imgc13.png" class="mt-4" style="max-width: 100%; height: auto;">
              <li class="ms-3 mt-4">Para poder ver los detalles de los profesores localiza el botón con un ojo del profesor
                 correspondiente. Una vez presionado, mostrará los detalles del profesor seleccionado. </li>
              <img src="/images/imgc14.png" class="mt-4" style="max-width: 100%; height: auto;">
              <li class="ms-3 mt-4">Para modificar un profesor, accede a su información y haz clic en el botón 
                “Modificar”. Podrás asignar o eliminar materias, ajustar su disponibilidad y hacer los cambios
                 necesarios usando los botones “+” y “x”. </li>
             <img src="/images/imgc14.png" class="mt-4" style="max-width: 100%; height: auto;">
            </ol>
          </li>
          <li class="ms-3 mt-4">
            En la parte de la izquierda se puede apreciar un Menú, dándole click a la opción de “Grupos”. 
            Nos mostrará los grupos. 
            <img src="/images/imgc15.png" class="mt-4" style="max-width: 100%; height: auto;">
            <ol type="a" class="mt-3">
              <li class="ms-3 mt-4">Para generar grupos de manera automática selecciona generar grupos y aceptar. </li>
              <img src="/images/imgc16.png" class="mt-4" style="max-width: 100%; height: auto;">
              <li class="ms-3 mt-4">Para generar grupos de manera manual selecciona Agregar grupo 
                y selecciona los detalles (profesor, salones, materia y horario). Al finalizar selecciona agregar </li>
              <img src="/images/imgc17.png" class="mt-4" style="max-width: 100%; height: auto;">
              <li class="ms-3 mt-4">Para ver los detalles del grupo selecciona el botón del ojo. </li>
             <img src="/images/imgc18.png" class="mt-4" style="max-width: 100%; height: auto;">
             <li class="ms-3 mt-4">Para eliminar una materia selecciona el botón "x" y confirma. </li>
             <img src="/images/imgc19.png" class="mt-4" style="max-width: 100%; height: auto;">
            </ol>
          </li>
          <li class="ms-3 mt-4">
            En la parte de la izquierda se puede apreciar un Menú, dándole click a la opción de “Salones”. 
            Nos mostrará los salones.
            <img src="/images/imgc20.png" class="mt-4" style="max-width: 100%; height: auto;">
            <ol type="a" class="mt-3">
              <li class="ms-3 mt-4">Para añadir un salón, haz clic en el botón “Agregar Salón”. 
                Se abrirá un formulario donde podrás ingresar el número, capacidad, tipo, nota y 
                campus correspondiente. </li>
              <img src="/images/imgc21.png" class="mt-4" style="max-width: 100%; height: auto;">
              <li class="ms-3 mt-4">Para eliminar un salón, haz clic en el botón “x” del salón 
                correspondiente. Se mostrará un mensaje con los detalles; confirma la acción presionando 
                el botón “Eliminar”.</li>
              <img src="/images/imgc22.png" class="mt-4" style="max-width: 100%; height: auto;">
            </ol>
          </li>
          <li class="ms-3 mt-4">
            En la parte de la izquierda se puede apreciar un Menú, dándole click a la opción de “Salones”. 
            Nos mostrará los salones.
            <img src="/images/imgc23.png" class="mt-4" style="max-width: 100%; height: auto;">
            <ol type="a" class="mt-3">
              <li class="ms-3 mt-4">Para rechazar una solicitud, selecciona al estudiante correspondiente
                 y haz clic en el botón “Rechazar”. Para aceptar una solicitud, selecciona al estudiante 
                 correspondiente y haz clic en el botón “Aceptar”.</li>
              <img src="/images/imgc24.png" class="mt-4" style="max-width: 100%; height: auto;">
            </ol>
          </li>
        </ol>
      </div>
    </div>
  </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/coordinador.js"></script>
</body>
</html>
