<%- include('includes/_head.ejs') %>
  <!-- Header -->
  <%- include('includes/_header_alumno.ejs') %>
  <!-- Main -->
  <main class="d-flex flex-column align-items-center justify-content-center flex-grow-1 rounded border-0 py-3 mx-auto my-2" 
    style="background: #f0f0f0; width: 98%;">    
    <h1>Ayuda</h1>
    <p>Aquí ponemos todo lo de ayuda</p>
  </main>
</body>
</html>

