<%- include('includes/_nav_alumno_irregular.ejs') %>
<main class="bg-grey flex-grow-1 rounded-5 p-0 d-flex flex-column alumno-scroll" style="height: 100vh; overflow-y: auto; border-radius: 1.5rem;">
  <div class="p-4">
    <div style="width: 80%; margin: 0 auto;">
      <div class="rounded-5 flex-grow-1 px-5 py-4" style="background-color: white;">
        <div style="border-bottom: 3px solid #84251C; width: 100%; margin-top: -10px;">
          <h1 class="m-0 ms-3">Ayuda</h1>
        </div>
        <h4 class="ms-3 mt-4 ivd-text-red">Manual de Ayuda para Alumnos Irregulares</h4>
        <ol>
          <li class="ms-3 mt-4">
            Acceda al inicio de sesión con el link: 
            <a href="https://ivd-inscripciones-leonille-97f95df993b3.herokuapp.com/usuario/iniciar-sesion" target="_blank">
              https://ivd-inscripciones-leonille-97f95df993b3.herokuapp.com/usuario/iniciar-sesion
            </a>
            <img src="/images/img1.png" class="mt-4" style="max-width: 100%; height: auto;">
          </li>
          <li class="ms-3 mt-4">
            Ingrese su contraseña y matrícula en caso de tener una.  
            <br>
            <img src="/images/img2.png" class="mt-4" style="max-width: 100%; height: auto;">
          </li>
          <li class="ms-3 mt-4">
            Al acceder se le mostrará la sugerencia de horario asignado. Se puedra visualizar una
            tabla que muestra las clases y sus horas asignadas. Aquellas materias que se muestren en color gris 
            no podran ser eliminadas de su horario. 
            <img src="/images/imgir1.png" class="mt-4" style="max-width: 100%; height: auto;">
          </li>
          <li class="ms-3 mt-4">
            Para modificar su horario sugerido en la parte de abajo a la derecha se observan tus opciones de 
            materias a tomar y a la izquierda se muestran las materias seleccionadas.  Para eliminar una materia
            de la columna seleccionada presione "x". Una vez que este seguro de tu seleccón presione el boton de siguiente para guardar. 
            <img src="/images/imgir2.png" class="mt-4" style="max-width: 100%; height: auto;">
          </li>
          <li class="ms-3 mt-4">
            Se mostrara una prevista de su horario seleccionado y presione confirmar para completar su
            proceso de seleccion de horario.
            <img src="/images/imgr20.png" class="mt-4" style="max-width: 100%; height: auto;">
          </li>
          <li class="ms-3 mt-4">
            Presione confirmar para completar su proceso de seleccion de horario o modificar para continuar editando. 
            <img src="/images/imgr21.png" class="mt-4" style="max-width: 100%; height: auto;">
          </li>
          <li class="ms-3 mt-4">
            Confirme que desea cerrar su proceso.
            <img src="/images/imgr22.png" class="mt-4" style="max-width: 100%; height: auto;">
          </li>
          <li class="ms-3 mt-4">
            Después de confirmar su horario solo podrá visualizar el resultado sin posibilidad de realizar cambios. 
            <img src="/images/imgr5.png" class="mt-4" style="max-width: 100%; height: auto;">
          </li>
        </ol>
      </div>
    </div>
  </div>
</main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>