<%- include('includes/_nav_alumno.ejs') %>
<%- include('includes/_header.ejs') %>
     <!-- Main horizontal -->
     <main class="main-container">
        <h1>Ayuda</h1>
        <p>Aquí ponemos todo lo de ayuda</p>
    </main>
  </div>
</div>

</body>
</html>

