<%- include('includes/_head.ejs') %>
<!-- Aside -->
<%- include('includes/_aside_coordinador.ejs') %>
<!-- Nav -->
<%- include('includes/_nav_coordinador.ejs') %>
<!-- Main -->
<main class="col-md-10 justify-content-between align-items-center rounded border-0 py-4 px-3 mx-auto my-2" style="background: #f0f0f0; width: 98%; height: 82%;">
  <h4>Dashboard</h4>
</main>
</div>
</div>
</body>
</html>