<%- include('includes/_nav_alumno.ejs') %>

<main class="bg-grey flex-grow-1 rounded-5 p-0 d-flex flex-column" style="height: 100vh;">
      
  <!-- Título de la sección -->
  <div class="mb-4">
    <h1 class="ms-3 mt-2">Horario</h1>
    <h2 class="ms-3 mt-2" style="color:#84251C;">Semestre Ago-Dic 2025</h2>
  </div>  
  <div class="container-fluid">
    <div class="d-flex gap-3">
      <div class="flex-grow-1 table-responsive mb-5 rounded-5" style="overflow: auto; background-color: white;"> background-color: white;">
        <table class="table table-hover" style="min-width: 800px; width: 100%;">
          <thead class="table-light">
            <tr>
              <th scope="col" style="width: 15%; min-width: 100px;" class="text-center align-middle">ID</th>
              <th scope="col" style="width: 20%; min-width: 100px;" class="text-center align-middle">Nombre</th>
              <th scope="col" style="width: 25%; min-width: 100px;" class="text-center align-middle">Primer Apellido</th>
              <th scope="col" style="width: 28%; min-width: 100px;" class="text-center align-middle">Segundo Apellido</th>
              <th scope="col" style="width: 7%; min-width: 50px;"></th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <!-- Segunda columna -->
      <div class="flex-grow-1 bg-white rounded-5">
        <!-- Contenido de la segunda columna -->
      </div>
    </div>
  </div>

</main>
