<%- include('includes/_nav_coordinador.ejs') %>
<%- include('includes/_header.ejs') %>
     <!-- Main horizontal -->
     <main class="main-container">
        <h1>Profesores</h1>
        <p>Aquí ponemos todo lo de profesores</p>
    </main>
  </div>
</div>

</body>
</html>