<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IVD</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/coordinador.css">
</head>
<body class="container-fluid">
    <button class="nav-collapse-btn ivd-bg-red" id="navToggle">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <div class="nav-overlay" id="navOverlay"></div>
    <div class="row">
        <div class="col-lg-2 vh-100 py-3">
            <nav class="navbar nav-coordinador d-flex flex-column align-items-center bg-grey h-100 py-4 rounded-3">
                <ul class="navbar-nav flex-column mx-2 w-80 px-3">
                    <img class="logo-size rounded-3 my-2 mx-auto" src="/images/logo.png" alt="Logo de via diseño">
                    <li class="nav-item li-text-nav text-secondary mt-3 mb-3">MENÚ</li>
                    <li class="nav-item li-nav mb-1 w-100">
                        <a class="nav-link active d-flex align-items-center" href="/coordinador/dashboard">
                            <img class="me-2" src="/images/columns-gap.svg" alt="Dashboard" width="15">
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item li-nav mb-1 w-100">
                        <a class="nav-link active d-flex align-items-center" href="/coordinador/materias">
                            <img class="me-2" src="/images/book.svg" alt="Materias" width="15">
                            <span>Materias</span>
                        </a>
                    </li>
                    <li class="nav-item li-nav mb-1 w-100">
                        <a class="nav-link active d-flex align-items-center" href="/coordinador/alumnos">
                            <img class="me-2" src="/images/person-vcard.svg" alt="Alumnos" width="15">
                            <span>Alumnos</span>
                        </a>
                    </li>
                    <li class="nav-item li-nav mb-1 w-100">
                        <a class="nav-link active d-flex align-items-center" href="/coordinador/profesores">
                            <img class="me-2" src="/images/person-video3.svg" alt="Profesores" width="15">
                            <span>Profesores</span>
                        </a>
                    </li>
                    <li class="nav-item li-nav mb-1 w-100">
                        <a class="nav-link active d-flex align-items-center" href="/coordinador/grupos">
                            <img class="me-2" src="/images/people.svg" alt="Grupos" width="15">
                            <span>Grupos</span>
                        </a>
                    </li>
                    <li class="nav-item li-nav mb-1 w-100">
                        <a class="nav-link active d-flex align-items-center" href="/coordinador/salones">
                            <img class="me-2" src="/images/easel3-fill.svg" alt="Salones" width="15">
                            <span>Salones</span>
                        </a>
                    </li>
                    <li class="nav-item li-nav w-100">
                        <a class="nav-link active d-flex align-items-center" href="/coordinador/solicitudes-cambio">
                            <img class="me-2" src="/images/file-earmark-text.svg" alt="Solicitudes" width="15">
                            <span>Solicitudes</span>
                        </a>
                    </li>
                    <li class="nav-item text-secondary li-text-nav mt-3 mb-3">GENERAL</li>
                    <li class="nav-item li-nav mb-1 w-100">
                        <a class="nav-link active d-flex align-items-center" href="/alumno-regular/ayuda">
                            <img class="me-2" src="/images/question-circle.svg" alt="Ayuda" width="15">
                            <span>Ayuda</span>
                        </a>
                    </li>
                    <li class="nav-item li-nav w-100">
                        <a class="nav-link active d-flex align-items-center" href="/usuario/iniciar-sesion">
                            <img class="me-2" src="/images/box-arrow-right.svg" alt="Cerrar Sesión" width="15">
                            <span>Cerrar Sesión</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        
        <div class="col-lg-10 py-3 d-flex flex-column gap-3">
            <header class="bg-grey d-flex justify-content-between px-4 py-4 rounded-3">
                <form class="d-flex" role="search">
                    <input class="form-control me-2 rounded-pill" type="search" placeholder="Buscar" aria-label="Search"
                        style="background-image:url('/images/search.svg');
                        background-repeat:no-repeat;
                        background-position: 1rem center; 
                        padding-left: 3rem; font-size: 1rem;">
                    <button class="btn rounded-pill ivd-bg-red text-white d-flex align-items-center justify-content-center" type="submit">Buscar</button>
                </form>
                <div class="d-flex align-items-center justify-content-between mx-4">
                    <div class="dropdown me-5">
                        <button class="btn border dropdown-toggle rounded-pill ivd-border-red" type="button" data-bs-toggle="dropdown">
                            Enero - Junio 2025
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Enero - Junio 2025</a></li>
                          <li><a class="dropdown-item" href="#">Agosto - Diciembre 2024</a></li>
                          <li><a class="dropdown-item" href="#">Enero - Junio 2024</a></li>
                        </ul>
                    </div>
                    <div class="d-flex flex-column align-items-center header-user-info">
                        <strong class="text-center">Alejandra Regina López Garza</strong>
                        <span class="text-center">301547@ivd.mx</span>
                    </div>
                </div>
            </header>
            <main class="bg-grey flex-grow-1 rounded-3 p-4"></main>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/coordinador.js"></script>
</body>
</html>