html {
    font-size: 87.5%;
}

.bg-grey {
    background: #f0f0f0;
}

/* Todos menos la pantalla que es más grande que 992px */
.d-p-nav {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.ul-nav {
    margin-top: 1rem;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
}
.ul-nav > * {
    margin: 0;
    width: fit-content;
}

.ivd-text-red {
    color: #84251C !important;
}
.ivd-bg-red {
    background-color: #84251C !important;
}
.ivd-border-red {
    border-color: #84251C !important;
}

.alumno-scroll::-webkit-scrollbar {
    height: 10px;
    width: 8px;
}
  
.alumno-scroll::-webkit-scrollbar-thumb {
    background-color: #a83232;
    border-radius: 10px;
    border: 2px solid #84251c;
}

.alumno-scroll {
    overflow-y: auto; /* Enables vertical scrolling */
    overflow-x: hidden; /* Prevents horizontal scrolling */
}

@media (min-width: 992px) {
    .logo-size {
        width: 70px;
    }
    
    .img-exit {
        width: 20px;
    }
    
    .li-nav {
        margin-right: 2.5rem;
    }    
    .d-p-nav {
        margin: 0;
    }
    .ul-nav {
        margin: 0;
        border: 0;
    }
}

@media (max-width: 576px) {
    .logo-size {
        width: 30px;
    }
    .img-exit {
        width: 15px;
    }
}


@media (max-width: 768px) and (min-width: 576px) {
    .logo-size {
        width: 50px;
    }
    .img-exit {
        width: 16px;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .logo-size {
        width: 60px;
    }
    .img-exit {
        width: 18px;
    }
}